.App {
  text-align: center;
}

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo {
  width: 300px
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.poke_box{
  display: flex;
  justify-content: center;

}

.pokeball{
  position: relative;
  width: 150px;
  height: 150px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
  animation-play-state: paused;
}

.pokeball:hover{
  animation-play-state: running;
}

@keyframes shake {
  0 { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}

.pokeball::before,
.pokeball::after {
content:"";
position: absolute;
}

.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 10px;
  background: #000;
}

.pokeball__button {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: #fff;
  border: 4px solid #7f8c8d;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 7px black;
  animation: blink .5s alternate infinite;
  animation-play-state: paused;
}

.pokeball:hover .pokeball__button{
    animation-play-state: running;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transition: 1.5s;
    width:100px;
    height:100px;
    position: fixed;
}

@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}




